Dzięki!<br>

Wynik:
<textarea style="width: 640px; height: 480px;">{{res}}</textarea>

<br>
<br>
<br>

Załaduj więcej plików:
<form action="/" method="post" enctype="multipart/form-data">
  Plik: <input type="file" name="upload" />
  <input type="submit" value="Start upload" />
</form>